<h1>Results!</h1>

<% @raw_data.each do |product| %>
  <!-- <div>
    <% product.each do |key, value| %>
      <p> <strong> <%= key %> </strong> <%= value %></p><br>
    <% end %>
  </div>

  <hr>  -->
<% end %>
